[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
Environment=DISPLAY=:0
Type=simple
ExecStart=sudo /usr/bin/kanata --cfg /home/vinay.dg@TA.COM/.config/kanata/kanata.kbd
Restart=no

[Install]
WantedBy=default.target

